<div class="mt-4">
    <f:asset.script identifier="calendar.js" priority="true"
        src="EXT:cy_lending/Resources/Public/JavaScript/calendar.js" />
    <div class="mt-4" id='calendar'></div>
    <f:format.raw>
        <script defer="defer">
            let language = '{language}'
            let currentMonthEvents = {currentMonthEvents}
            let ajaxConnect = '{f:uri.action(pageType:"{settings.ajax.pageType}", controller:"AjaxConnect",absolute:1, action:"getEvents",  arguments="{lspid:allLendingStorageUids}")}'
            let _appointmentSymbol = '{appointmentSymbol}'
        </script>
    </f:format.raw>

    <script defer="defer">
        //   <f:format.cdata>
        let selector = '#calendar'


        let calculateOtherMonth = function (offset) {
            let currentMonth = $(selector + ' .currentMonth').attr('data-month')
            let currentYear = $(selector + ' .currentMonth').attr('data-year')

            let result = new Date(currentYear, currentMonth, 1);
            return new Date(result.setMonth(result.getMonth() + offset))

        }

        new Calendar(selector, language, {
            appointmentSymbol: ' ' + _appointmentSymbol,
            previousMonthButtonHook: function (calendar) {

                let previousMonth = calculateOtherMonth(-1);
                $.ajax({
                    url: ajaxConnect,
                    method: "POST",
                    data: {year: previousMonth.getFullYear(), month: previousMonth.getMonth() + 1},
                }
                )
                    .fail(function (error) {
                        console.log(error.responseText)
                    })
                    .done(function (response) {
                        //  console.log(result)
                        calendar.importEvents(response)// alert(result)
                        calendar.renderEvents()
                    })
            },
            nextMonthButtonHook: function (calendar) {

                let nextMonth = calculateOtherMonth(1);
                $.ajax({
                    url: ajaxConnect,
                    method: "POST",
                    data: {year: nextMonth.getFullYear(), month: nextMonth.getMonth() + 1},
                }
                )
                    .fail(function (error) {
                        console.log(error.responseText)
                    })
                    .done(function (response) {
                        //  console.log(result)
                        calendar.importEvents(response)// alert(result)
                        calendar.renderEvents()
                    })
            },
        })
            .importEvents(currentMonthEvents)
            .renderCalendar();
        //    </f:format.cdata>
    </script>
</div>