<div class="mt-4">
    <f:asset.script identifier="calendar.js" priority="true"
        src="EXT:cy_lending/Resources/Public/JavaScript/calendar.js" />
    <div class="mt-4" id='calendar' class="calendar"></div>


    <f:format.raw>

        <script>

            let language = "{language}";
            let translation = {
                daysOfWeek: [<f:translate key='lending.overview.calendar.label.weekDays' />],
                daysOfWeekShort: [<f:translate key='lending.overview.calendar.label.weekDaysShort' />],
                btnNextButton: "<f:translate key='lending.overview.calendar.label.nextMount'/>",
                btnPreviousMonth: "<f:translate key='lending.overview.calendar.label.previousMonth' />",
                btnToday: "<f:translate key='lending.overview.calendar.label.today' />",
                appointmentsOfTheDay: "<f:translate key='lending.overview.calendar.label.appointmentsOfTheDay' />" ,
                monthNames: [<f:translate key='lending.overview.calendar.label.monthNames' />],
            }
            let currentMonthEvents = {currentMonthEvents}
            let ajaxConnect = '{f:uri.action(controller:"AjaxConnect",absolute:1, action:"getEvents",  arguments="{ceUid:ceUid}")}'
            let _appointmentSymbol = '{appointmentSymbol}'
            let _maxPastMonth =  {calendarMaxPastMonth}
            let _maxFutureMonth =  {calendarMaxFutureMonth}


        </script>
    </f:format.raw>

    <script defer="defer">
        //   <f:format.cdata>
        let selector = '#calendar'

        new Calendar(selector, language, {
            appointmentSymbol: ' ' + _appointmentSymbol,
            maxPastMonth: _maxPastMonth,
            maxFutureMonth: _maxFutureMonth,
            updateMonthButtonHook : function (calendar, offset) {

                let _month = Calendar.calculateOtherMonth(selector, offset);
                $.ajax({
                    url: ajaxConnect,
                    method: "POST",
                    data: { year: _month.getFullYear(), month: _month.getMonth() + 1 },
                }
                )
                    .fail(function (error) {
                        console.log(error.responseText)
                    })
                    .done(function (response) {
                        //  console.log(result)
                        calendar.importEvents(response)// alert(result)
                        calendar.renderEvents()
                    })
            },
            texts: {
                [language]: translation
            },

        })
            .importEvents(currentMonthEvents)
            .renderCalendar();
        //    </f:format.cdata>
    </script>
</div>