<f:render partial="validationResults"
    arguments="{prefix:'lending.overview.myAvailabilityRequest.form', validationResults: myAvailabilityRequestValidationResults}" />


<f:if condition="{myAvailabilityRequests->f:count()} == 0">
    <f:then>
        <f:translate key="lending.overview.myAvailabilityRequests.noneEntries" />
    </f:then>
    <f:else>
        <f:for each="{myAvailabilityRequests}" as="myAvailabilityRequest">
            <f:render partial="validationResults"
                arguments="{prefix:'lending.overview.myAvailabilityRequest.form',  object: myAvailabilityRequest, context:'cancelAvailabilityRequest'}" />

            <f:if condition="{myAvailabilityRequest.uid} > 0 ">
                <div class="row mt-4">
                    <div class="col-md-3 fw-bold fs-5">
                        <f:translate key="lending.overview.myAvailabilityRequest.form.object" />
                    </div>
                    <div class="col-md-9 fw-bold fs-5">
                        <div class="rounded-2  border px-2">
                            {myAvailabilityRequest.object.title}</div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-3">
                        <f:translate key="lending.overview.myAvailabilityRequest.form.purpose" />
                    </div>
                    <div class="col-md-9">
                        <div class="rounded-2  border px-2">
                            {myAvailabilityRequest.purpose}</div>
                    </div>
                </div>
                <f:if condition="{myAvailabilityRequest.highPriority}">
                    <div class="row mt-2">
                        <div class="col-md-3 text-primary" >
                            <f:translate key="lending.overview.myAvailabilityRequest.form.highPriority" />
                        </div>
                        <div class="col-md-9  text-primary">
                            🗹                           
                        </div>
                    </div>
                </f:if>
                <f:if condition="{myAvailabilityRequest.object.quantity} > 1">
                    <div class="row mt-2">
                        <div class="col-md-3">
                            <f:translate key="lending.overview.myAvailabilityRequest.form.quantity" />
                        </div>
                        <div class="col-md-9">
                            <div class="rounded-2  border px-2">
                                {myAvailabilityRequest.quantity}</div>
                        </div>
                    </div>
                </f:if>
                <div class="row mt-2">
                    <div class="col-md-3">
                        <f:translate key="lending.overview.myAvailabilityRequest.form.from" />
                    </div>
                    <div class="col-md-9 ">
                        <div class="rounded-2  border px-2">
                            <f:format.date format="d.m.Y - H:i">{myAvailabilityRequest.from}
                            </f:format.date>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-3">
                        <f:translate key="lending.overview.myAvailabilityRequest.form.until" />
                    </div>
                    <div class="col-md-9">
                        <div class="rounded-2  border px-2">
                            <f:format.date format="d.m.Y - H:i">{myAvailabilityRequest.until}
                            </f:format.date>
                        </div>
                    </div>
                </div>
                <div class="row border-bottom mt-3 pb-4">
                    <div class="col-md-3">&nbsp;</div>
                    <div class="col-md-4">
                        <f:form class="cancel" action="cancelAvailabilityRequest" name="myAvailabilityRequest" object="{myAvailabilityRequest}"
                            arguments="{'contextElement': contextElement}" enctype="multipart/form-data">
                            <f:form.submit class="btn btn-primary mb-2"
                                value="{f:translate(key:'lending.overview.myAvailabilityRequest.action.cancel')} " />
                        </f:form>
                    </div>
                </div>
            </f:if>

        </f:for>

    </f:else>
</f:if>
