<f:render partial="validationResults"
    arguments="{prefix:'lending.overview.myLending.form', validationResults: myLendingValidationResults}" />
<f:if condition="{myLendings->f:count()} == 0">
    <f:then>
        <f:translate key="lending.overview.myLendings.noneEntries" />
    </f:then>
    <f:else>


        <f:for each="{myLendings}" as="myLending">
            <div class="row mt-4">
                <div class="col-md-3 fw-bold fs-5">
                    <f:translate key="lending.overview.myLending.form.object" />
                </div>
                <div class="col-md-9 fw-bold fs-5">
                    <div class="rounded-2  border px-2">
                        {myLending.object.title}</div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-3">
                    <f:translate key="lending.overview.myLending.form.purpose" />
                </div>
                <div class="col-md-9">
                    <div class="rounded-2  border px-2">
                        {myLending.purpose}</div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-3">
                    <f:translate key="lending.overview.myLending.form.from" />
                </div>
                <div class="col-md-9 ">
                    <div class="rounded-2  border px-2">
                        <f:format.date format="d.m.Y - H:i">{myLending.from}
                        </f:format.date>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-3">
                    <f:translate key="lending.overview.myLending.form.until" />
                </div>
                <div class="col-md-9">
                    <div class="rounded-2  border px-2">
                        <f:format.date format="d.m.Y - H:i">{myLending.until}
                        </f:format.date>
                    </div>
                </div>
            </div>
            <div class="row border-bottom mt-3 pb-4">
                <div class="col-md-3">&nbsp;</div>
                <div class="col-md-4">
                    <f:form class="cancel" action="cancel" name="myLending" object="{myLending}"
                        enctype="multipart/form-data">
                        <f:form.submit class="btn btn-primary mb-2" 
                            value="{f:translate(key:'lending.overview.myLending.action.cancel')} " />
                    </f:form>
                </div>
            </div>
        </f:for>

        <script defer="defer">
            $("form.cancel input[type='submit']").each(function(){
                let e = $(this)
                e.data('text', e.text())
                e.on("click", function () { 
                    alert( $(this).data('text') ) 
                })
            });    
        </script>
    </f:else>
</f:if>