<f:render partial="validationResults"
    arguments="{prefix:'lending.overview.availabilityRequest.form', validationResults: availabilityRequestValidationResults}" />
<div class="row mt-3 mb-2">
    <label id="objectLabel" for="object" class="col-sm-3 col-form-label">
        <f:translate key="lending.overview.availabilityRequest.form.object" />
    </label>
    <div class="col-sm-9">
        {toReserveSummary.object.title}
    </div>
</div>
<div class="row  mb-2">
    <label id="purposeLabel" for="purpose" class="col-sm-3 col-form-label">
        <f:translate key="lending.overview.availabilityRequest.form.purpose" />
    </label>
    <div class="col-sm-9">
        {toReserveSummary.purpose}
    </div>
</div>
<div class="row  mb-2">
    <label id="fromLabel" for="from" class="col-sm-3 col-form-label">
        <f:translate key="lending.overview.availabilityRequest.form.from" />
    </label>
    <div class="col-sm-9">
        <f:format.date>{toReserveSummary.from}</f:format.date>
    </div>
</div>
<div class="row  mb-2">
    <label id="untilLabel" for="until" class="col-sm-3 col-form-label">
        <f:translate key="lending.overview.availabilityRequest.form.until" />
    </label>
    <div class="col-sm-9">
        <f:format.date>{toReserveSummary.until}</f:format.date>
       
    </div>
</div>
<div class="row  mb-2">
    <div class="col-sm-3">
        &nbsp;
    </div>
    <div class="col-sm-9">
        <a href="?" class="btn btn-primary"><f:translate key="lending.overview.availabilityRequest.form.button.back"></f:translate></a>
    </div>
</div>