<f:render partial="validationResults"
    arguments="{prefix:'lending.overview.availabilityRequest.form', validationResults: availabilityRequestValidationResults}" />

<f:format.raw>
    <script defer="defer">
        {untilOffset}
    </script>
</f:format.raw>



<f:form class="form reserve" noCache="true" action="reserve" method="POST" enctype="multipart/form-data"
    objectName="toReserve" object="{toReserve}">
    <div class="row mt-3 mb-2">
        <label id="objectLabel" for="object" class="col-sm-3 col-form-label">
            <f:translate key="lending.overview.availabilityRequest.form.object" />
        </label>
        <div class="col-sm-9">
            <f:form.select class="form-select" property="object">
                <f:groupedFor each="{lendingObjects}" as="lendingObjects" groupBy="groupName" groupKey="groupName">
                    <f:if condition="{groupName} == '' ">
                        <f:then>
                            <f:for each="{lendingObjects}" as="lendingObject">
                                <f:form.select.option value="{lendingObject.uid}">
                                    {lendingObject.title}
                                </f:form.select.option>
                            </f:for>
                        </f:then>
                        <f:else>
                            <f:form.select.optgroup label="{groupName}">
                                <f:for each="{lendingObjects}" as="lendingObject">
                                    <f:form.select.option value="{lendingObject.uid}">
                                        {lendingObject.title}
                                    </f:form.select.option>
                                </f:for>
                            </f:form.select.optgroup>
                        </f:else>
                    </f:if>

                </f:groupedFor>
            </f:form.select>
        </div>
    </div>
    <div class="row  mb-2">
        <label id="purposeLabel" for="purpose" class="col-sm-3 col-form-label">
            <f:translate key="lending.overview.availabilityRequest.form.purpose" />
        </label>
        <div class="col-sm-9">
            <f:form.textfield class="form-control" property="purpose" type="text" id="purpose"
                additionalAttributes="{list:'purposeList'}"
                placeholder="{f:if(condition:'{purposes->f:count()} > 0', then:'{f:translate(key:\'lending.overview.availabilityRequest.form.purpose.placeholder\')}')}" />
            <f:if condition="{purposes->f:count()} > 0">
                <datalist id="purposeList">
                    <f:for each="{purposes}" as="purpose">
                        <option value="{purpose}">{purpose}</option>
                    </f:for>
                </datalist>
            </f:if>
        </div>
    </div>
    <f:if condition="{isApprover}">
        <div class="row  mb-2">
            <div class="col-sm-3 col-form-label">
                &nbsp;
            </div>
            <div class="col-sm-9">
                <f:form.checkbox class="form-check-input" property="highPriority" id="highPriority" value="1" />
                <label id="purposeLabel" for="highPriority" class="form-check-label">
                    <f:translate key="lending.overview.availabilityRequest.form.highPriority" />
                </label>
            </div>
        </div>
    </f:if>
    <div class="row  mb-2">
        <label id="fromLabel" for="from" class="col-sm-3 col-form-label">
            <f:translate key="lending.overview.availabilityRequest.form.from" />
        </label>
        <div class="col-sm-9">
            <f:form.textfield id="from" class="form-control" property="from" type="datetime-local" />
        </div>
    </div>
    <div class="row  mb-2">
        <label id="untilLabel" for="until" class="col-sm-3 col-form-label">
            <f:translate key="lending.overview.availabilityRequest.form.until" />
        </label>
        <div class="col-sm-9">

            <f:form.textfield id="until" class="form-control" property="until" type="datetime-local" />
        </div>
    </div>
    <div class="row  mb-2">
        <div class="col-sm-3">
            &nbsp;
        </div>
        <div class="col-sm-9">
            <button class="btn btn-primary submit">
                <f:translate key="lending.overview.availabilityRequest.form.submit" />
            </button>
        </div>
    </div>
    <div class="existOverlappingLendings">
     
    </div>


    <f:if condition="{reasonsForPreventionServiceEnabled}">
        <f:then>
            <div class="reasonsForPrevention">
              
            </div>
            <f:format.raw>
                <script defer="defer">
                    let existOverlappingLendingsUrl = '{existOverlappingLendingsUrl}'
                    let ignoreExistLendings = '{f:translate(key:"lending.overview.availabilityRequest.form.label.ignoreExistLendings")}'
                    
                    let reasonsForPreventionServiceUrl = '{reasonsForPreventionServiceUrl}'
                    let reasonsForPreventionFound = '{f:translate(key:"lending.overview.availabilityRequest.form.label.reasonsForPreventionFound")}'
                    let reasonsForPreventionIgnore = '{f:translate(key:"lending.overview.availabilityRequest.form.label.reasonsForPreventionIgnore")}'
                </script>

                <f:asset.script identifier="reserveForm.js" defer="defer"
                    src="EXT:cy_lending/Resources/Public/JavaScript/reserveForm.js" />
            </f:format.raw>
        </f:then>
        <f:else>
            <script defer="defer">
               $('form.reserve button.submit').on("click", function () {
                    let submit = $(this)
                    submit.prop('disabled', true)
                    submit.data("text", submit.text())
                    submit.text('⌛' + submit.text())
                    $('form.reserve').submit()
                })
            </script>
        </f:else>

    </f:if>
</f:form>