<!DOCTYPE html PUBLIC "-//WC//DTD XHTML . Strict//EN" "http://www.w.org/TR/xhtml/DTD/xhtml-strict.dtd">
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true"
	xmlns="http://www.w.org//xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
</head>

<body>

	<f:layout name="Default" />
	<f:section name="content">
		<f:asset.script identifier="jquery.min.js" priority="true"
			src="EXT:cy_lending/Resources/Public/JavaScript/jquery/jquery.min.js" />
		<nav>
			<f:variable name="calendarTab" value="calendar" />
			<f:variable name="lending" value="lending" />
			<f:variable name="approval" value="approval" />
			<div class="nav nav-tabs" id="nav-tab" role="tablist">
				<button class="nav-link {f:if(condition:'{tab} === \'calendar\' ', then: 'active')}"
					id="nav-calendar-tab" data-bs-toggle="tab" data-bs-target="#nav-calendar" type="button" role="tab"
					aria-controls="nav-calendar"
					aria-selected="{f:if(condition:'{tab} === \'calendar\' ', then: 'true', else:'false')}"
					onclick="updateCalendar(this)">
					<f:translate key="lending.overview.tab.calendar" />
				</button>
				<button class="nav-link {f:if(condition:'{tab} === \'lending\' ', then: 'active')}" id="nav-lending-tab"
					data-bs-toggle="tab" data-bs-target="#nav-lending" type="button" role="tab"
					aria-controls="nav-lending"
					aria-selected="{f:if(condition:'{tab} === \'lending\' ', then: 'true', else:'false')}"
					data-uri="{f:uri.action( controller:'AjaxConnect', action:'getReserveForm', absolute='true', arguments:{ceUid:ceUid})}"
					data-refresh="single">
					<f:translate key="lending.overview.tab.lending" />
				</button>
				<button class="nav-link {f:if(condition:'{tab} === \'myAvailabilityRequests\' ', then: 'active')}"
					id="nav-myAvailabilityRequests-tab" data-bs-toggle="tab"
					data-bs-target="#nav-myAvailabilityRequests" type="button" role="tab"
					aria-controls="nav-myAvailabilityRequests"
					aria-selected="{f:if(condition:'{tab} === \'myAvailabilityRequests\' ', then: 'true', else:'false')}"
					data-uri="{f:uri.action( controller:'AjaxConnect', action:'getMyAvailabilityRequests', absolute='true', arguments:{ceUid:ceUid})}">
					<f:translate key="lending.overview.tab.myAvailabilityRequests" />
				</button>
				<button class="nav-link {f:if(condition:'{tab} === \'myLendings\' ', then: 'active')}"
					id="nav-myLendings-tab" data-bs-toggle="tab" data-bs-target="#nav-myLendings" type="button"
					role="tab" aria-controls="nav-myLendings"
					aria-selected="{f:if(condition:'{tab} === \'myLendings\' ', then: 'true', else:'false')}"
					data-uri="{f:uri.action( controller:'AjaxConnect', action:'getMyLendings', absolute='true', arguments:{ceUid:ceUid})}">
					<f:translate key="lending.overview.tab.myLendings" />
				</button>
				<button class="nav-link d-none {f:if(condition:'{tab} === \'approval\' ', then: 'active')}"
					id="nav-approval-tab" data-bs-toggle="tab" data-bs-target="#nav-approval" type="button" role="tab"
					aria-controls="nav-approval"
					aria-selected="{f:if(condition:'{tab} === \'approval\' ', then: 'true', else:'false')}"
					data-uri="{f:uri.action( controller:'AjaxConnect', action:'getAvailabilityRequests', absolute='true', arguments:{ceUid:ceUid})}"
					data-visible-uri="{f:uri.action( controller:'AjaxConnect', action:'isAvailabilityRequestsVisible', absolute='true', arguments:{ceUid:ceUid})}"
					data-form-update="updateApprovalButtons">
					<f:translate key="lending.overview.tab.approval" />
				</button>
			</div>
		</nav>
		<div class="tab-content" id="nav-tabContent">
			<div class="tab-pane fade {f:if(condition:'{tab} === \'calendar\'', then: 'show active')} "
				id="nav-calendar" role="calendar" aria-labelledby="nav-calendar-tab">
				<f:render partial="calendar" arguments="{_all}" />
			</div>
			<f:format.raw>
				<script defer="defer">
					{untilOffset}
					let getMaxQuantityUrl = "{f:uri.action( controller:'AjaxConnect', action:'getMaxQuantity', absolute='true', arguments:{ceUid:ceUid })}"
				</script>
			</f:format.raw>

			<div class="tab-pane fade {f:if(condition:'{tab} === \'lending\' ', then: 'show active')} pt-3"
				id="nav-lending" role="lending" aria-labelledby="nav-lending-tab">
				⌛
			</div>
			<div class="tab-pane fade {f:if(condition:'{tab} === \'myAvailabilityRequests\'', then: 'show active')} pt-3"
				id="nav-myAvailabilityRequests" role="myAvailabilityRequests"
				aria-labelledby="nav-myAvailabilityRequests-tab">
				⌛
			</div>
			<div class="tab-pane fade {f:if(condition:'{tab} === \'myLendings\'', then: 'show active')} pt-3 myLendings"
				id="nav-myLendings" role="myLendings" aria-labelledby="nav-myLendings-tab">
				⌛
			</div>
			<div class="tab-pane fade {f:if(condition:'{tab} === \'approval\' ', then: 'show active')} pt-3"
				id="nav-approval" role="approval" aria-labelledby="nav-approval-tab">
				⌛
			</div>
		</div>
		<f:asset.script identifier="reserveForm.js" priority="true" defer="defer"
			src="EXT:cy_lending/Resources/Public/JavaScript/reserveForm.js" />
	</f:section>
</body>

</html>