<!DOCTYPE html PUBLIC "-//WC//DTD XHTML . Strict//EN" "http://www.w.org/TR/xhtml/DTD/xhtml-strict.dtd">
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true"
	xmlns="http://www.w.org//xhtml" xml:lang="en" lang="en">

	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	</head>

	<body>

		<f:layout name="Default" />
		<f:section name="content">
			<f:asset.script identifier="jquery.min.js" priority="true"
				src="EXT:cy_lending/Resources/Public/JavaScript/jquery/jquery.min.js" />

			<nav>
				<f:variable name="calendar" value="calendar" />
				<f:variable name="lending" value="lending" />
				<f:variable name="approval" value="approval" />
				<div class="nav nav-tabs" id="nav-tab" role="tablist">
					<button class="nav-link {f:if(condition:'{tab} === {calendar} ', then: 'active')}"
						id="nav-calendar-tab" data-bs-toggle="tab" data-bs-target="#nav-calendar" type="button"
						role="tab" aria-controls="nav-calendar" aria-selected="true">
						<f:translate key="lending.overview.tab.calendar" />
					</button>
					<button class="nav-link {f:if(condition:'{tab} === {lending} ', then: 'active')}"
						id="nav-lending-tab" data-bs-toggle="tab" data-bs-target="#nav-lending" type="button" role="tab"
						aria-controls="nav-lending" aria-selected="false">
						<f:translate key="lending.overview.tab.lending" />
					</button>
					<f:if condition="{isApprover}">
						<button class="nav-link {f:if(condition:'{tab} === {approval} ', then: 'active')}"
							id="nav-approval-tab" data-bs-toggle="tab" data-bs-target="#nav-approval" type="button"
							role="tab" aria-controls="nav-approval" aria-selected="false">
							<f:translate key="lending.overview.tab.approval" />
						</button>
					</f:if>
				</div>
			</nav>
			<div class="tab-content" id="nav-tabContent">
				<div class="tab-pane fade {f:if(condition:'{tab} === {calendar} ', then: 'show active')} "
					id="nav-calendar" role="calendar" aria-labelledby="nav-calendar-tab">
					<f:render partial="calendar"
						arguments="{calendar:calendar, lendingObjects:lendingObjects, calendarScript: calendarScript}" />
				</div>
				<div class="tab-pane fade {f:if(condition:'{tab} === {lending} ', then: 'show active')} pt-3"
					id="nav-lending" role="tabpanel" aria-labelledby="nav-lending-tab">
					<f:render partial="reserveForm"
						arguments="{availabilityRequests:availabilityRequests, toReserve:toReserve, purposes: purposes,lendingObjects:lendingObjects, availabilityRequestValidationResults:availabilityRequestValidationResults , untilOffset:untilOffset}" />

				</div>
				<f:if condition="{isApprover}">
					<div class="tab-pane fade pt-3 {f:if(condition:'{tab} === {approval} ', then: 'show active')}"
						id="nav-approval" role="tabpanel" aria-labelledby="nav-Lendapprovaling-tab">

						<f:render partial="approveForm"
							arguments="{approvalValidationResults:approvalValidationResults, availabilityRequestEmpty:availabilityRequestEmpty, availabilityRequests: availabilityRequests}" />
					</div>
				</f:if>
			</div>
		</f:section>
	</body>

</html>