<f:form class="form reserve" noCache="true" action="reserve" method="POST" enctype="multipart/form-data"
    arguments="{ceUid:ceUid}" objectName="toReserve" object="{toReserve}" controller="AjaxConnect" >
    <div class="messages">
        <f:form.hidden name="confirmedWarnings[]" value="" />

    </div>

    <div class="row mt-3 mb-2">
        <label id="objectLabel" for="object" class="col-sm-3 col-form-label">
            <f:translate key="lending.overview.availabilityRequest.form.object" />
        </label>
        <div class="col-sm-9">
            <f:form.select class="form-select" property="object" id="object">
                <f:groupedFor each="{toReserve.allowedObjects}" as="allowedObjects" groupBy="lendingObject.groupName"
                    groupKey="groupName">
                    <f:if condition="{groupName} == '' ">
                        <f:then>
                            <f:for each="{allowedObjects}" as="allowedObject">
                                <f:form.select.option value="{allowedObject.lendingObject.uid}"
                                    data="{'quantity':allowedObject.avaiableQuantity, 'highPriorityPossible': allowedObject.highPriorityLendingPossible}">
                                    {allowedObject.lendingObject.title}
                                </f:form.select.option>
                            </f:for>
                        </f:then>
                        <f:else>
                            <f:form.select.optgroup label="{groupName}">
                                <f:for each="{allowedObjects}" as="allowedObject">
                                    <f:form.select.option value="{allowedObject.lendingObject.uid}"
                                        data="{'quantity':allowedObject.avaiableQuantity, 'highPriorityPossible': allowedObject.highPriorityLendingPossible}">
                                        {allowedObject.lendingObject.title}
                                    </f:form.select.option>
                                </f:for>
                            </f:form.select.optgroup>
                        </f:else>
                    </f:if>

                </f:groupedFor>
            </f:form.select>
        </div>
    </div>
    <div class="row  mb-2">
        <label id="purposeLabel" for="purpose" class="col-sm-3 col-form-label">
            <f:translate key="lending.overview.availabilityRequest.form.purpose" />
        </label>
        <div class="col-sm-9">
            <f:form.textfield class="form-control" property="purpose" type="text" id="purpose" autocomplete="off"
                additionalAttributes="{list:'purposeList'}"
                placeholder="{f:if(condition:'{purposes->f:count()} > 0', then:'{f:translate(key:\'lending.overview.availabilityRequest.form.purpose.placeholder\')}')}" />
            <f:if condition="{purposes->f:count()} > 0">
                <datalist id="purposeList">
                    <f:for each="{purposes}" as="purpose">
                        <option value="{purpose}">{purpose}</option>
                    </f:for>
                </datalist>
            </f:if>
        </div>
    </div>
    <f:if condition="{toReserve.canHighPriorityLend}">
        <script>
            var highPriorityLendingObjects = { highPriorityLendingObjects };
        </script>
        <div class="row  mb-2">
            <div class="col-sm-3 col-form-label">
                &nbsp;
            </div>
            <div class="col-sm-9">
                <f:form.checkbox class="form-check-input" property="highPriority" id="highPriority" value="true" />
                <label id="highPriorityLabel" for="highPriority" class="form-check-label">
                    <f:translate key="lending.overview.availabilityRequest.form.highPriority" />
                </label>
            </div>
        </div>
    </f:if>
    <f:if condition="{toReserve.maxQuantity} > 1">
        <div class="row  mb-2">
            <label id="quantityLabel" for="quantity" class="col-sm-3 col-form-label">
                <f:translate key="lending.overview.availabilityRequest.form.quantity" />
            </label>
            <div class="col-sm-9">
                <f:form.textfield id="quantity" class="form-control" property="quantity" type="number"
                    additionalAttributes="{'min':1, 'max':1}" />
            </div>
        </div>
    </f:if>
    <div class="row  mb-2">
        <label id="fromLabel" for="from" class="col-sm-3 col-form-label">
            <f:translate key="lending.overview.availabilityRequest.form.from" />
        </label>
        <div class="col-sm-9">
            <f:form.textfield id="from" class="form-control" property="from" type="datetime-local" />
        </div>
    </div>
    <div class="row  mb-2">
        <label id="untilLabel" for="until" class="col-sm-3 col-form-label">
            <f:translate key="lending.overview.availabilityRequest.form.until" />
        </label>
        <div class="col-sm-9">

            <f:form.textfield id="until" class="form-control" property="until" type="datetime-local" />
        </div>
    </div>
    <div class="row  mb-2">
        <div class="col-sm-3">
            &nbsp;
        </div>
        <div class="col-sm-9">
            <f:form.submit class="btn btn-primary submit"
                value="{f:translate(key:'lending.overview.availabilityRequest.form.submit')} " />
        </div>
    </div>
</f:form>