<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:c="http://typo3.org/ns/Cylancer/Participants/ViewHelpers" data-namespace-typo3-fluid="true">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	</head>
	<body>
		<f:layout name="Default" />
		<f:section name="content">
			<p>
				<f:translate
					key="LLL:EXT:cy_lending/Resources/Private/Language/locallang.xlf:message.informReviousBorrorer.email.salutation"
					arguments="{0:user.firstName, 1:user.lastName}" />
			</p>
			<p>
				<f:translate
					key="LLL:EXT:cy_lending/Resources/Private/Language/locallang.xlf:message.informReviousBorrorer.email.requestCanceled" />
			</p>
			<table>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>
						<f:translate
							key="LLL:EXT:cy_lending/Resources/Private/Language/locallang.xlf:message.informReviousBorrorer.email.object" />
						&nbsp;&nbsp;
					</td>
					<td>{availabilityRequest.object.title}</td>
				</tr>
				<tr>
					<td>
						<f:translate
							key="LLL:EXT:cy_lending/Resources/Private/Language/locallang.xlf:message.informReviousBorrorer.email.purpose" />
						&nbsp;&nbsp;
					</td>
					<td>{availabilityRequest.purpose}</td>
				</tr>
				<tr>
					<td>
						<f:translate
							key="LLL:EXT:cy_lending/Resources/Private/Language/locallang.xlf:message.informReviousBorrorer.email.from" />
						&nbsp;&nbsp;
					</td>
					<td>
						<f:format.date format="l, d.m.Y H:i">{availabilityRequest.from}</f:format.date>
					</td>
				</tr>
				<tr>
					<td>
						<f:translate
							key="LLL:EXT:cy_lending/Resources/Private/Language/locallang.xlf:message.informReviousBorrorer.email.until" />
						&nbsp;&nbsp;
					</td>
					<td>
						<f:format.date format="l, d.m.Y H:i">{availabilityRequest.until}</f:format.date>
					</td>
				</tr>
			</table>
			<br />
			<p>
				<f:translate
					key="LLL:EXT:cy_lending/Resources/Private/Language/locallang.xlf:message.informReviousBorrorer.email.inquiries"
					arguments="{0:availabilityRequest.approver.firstName, 1:availabilityRequest.approver.lastName}" />
			</p>

		</f:section>
	</body>
</html>