<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:c="http://typo3.org/ns/Cylancer/Participants/ViewHelpers" data-namespace-typo3-fluid="true">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	</head>
	<body>
		<f:layout name="Default" />
		<f:section name="content">
			<p>
				<f:translate
					key="LLL:EXT:cy_lending/Resources/Private/Language/locallang.xlf:message.observer.email.salutation"
					arguments="{0:user.firstName, 1:user:user.lastName}" />
			</p>
			<f:format.raw>
				<f:if condition="{availabilityRequest.state} == 2">
					<f:then>
						<f:translate
							key="LLL:EXT:cy_lending/Resources/Private/Language/locallang.xlf:message.observer.email.requestIsApproved" />
					</f:then>
					<f:else>
						<f:translate
							key="LLL:EXT:cy_lending/Resources/Private/Language/locallang.xlf:message.observer.email.requestIsRejected" />
					</f:else>
				</f:if>
			</f:format.raw>
			<table>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>
						<f:translate
							key="LLL:EXT:cy_lending/Resources/Private/Language/locallang.xlf:message.observer.email.object" />
						&nbsp;&nbsp;
					</td>
					<td>{availabilityRequest.object.title}</td>
				</tr>
				<tr>
					<td>
						<f:translate
							key="LLL:EXT:cy_lending/Resources/Private/Language/locallang.xlf:message.observer.email.purpose" />
						&nbsp;&nbsp;
					</td>
					<td>{availabilityRequest.purpose}</td>
				</tr>
				<f:if condition="{availabilityRequest.object.quantity} > 1">
					<tr>
						<td>
							<f:translate
								key="LLL:EXT:cy_lending/Resources/Private/Language/locallang.xlf:message.observer.email.quantity" />
							&nbsp;&nbsp;
						</td>
						<td>{availabilityRequest.quantity}</td>
					</tr>
				</f:if>
				<f:if condition="{availabilityRequest.highPriority}">
					<tr>
						<td>
							&nbsp;&nbsp;
						</td>
						<td style="color:red;">
							<f:translate
								key="LLL:EXT:cy_lending/Resources/Private/Language/locallang.xlf:message.observer.email.withHighPriority" />
						</td>
					</tr>
				</f:if>
				<tr>
					<td>
						<f:translate
							key="LLL:EXT:cy_lending/Resources/Private/Language/locallang.xlf:message.observer.email.from" />
						&nbsp;&nbsp;
					</td>
					<td>
						<f:format.date format="l, d.m.Y H:i">{availabilityRequest.from}</f:format.date>
					</td>
				</tr>
				<tr>
					<td>
						<f:translate
							key="LLL:EXT:cy_lending/Resources/Private/Language/locallang.xlf:message.observer.email.until" />
						&nbsp;&nbsp;
					</td>
					<td>
						<f:format.date format="l, d.m.Y H:i">{availabilityRequest.until}</f:format.date>
					</td>
				</tr>
				<tr>
					<td>
						<f:translate
							key="LLL:EXT:cy_lending/Resources/Private/Language/locallang.xlf:message.observer.email.borrower" />
						&nbsp;&nbsp;
					</td>
					<td>{availabilityRequest.borrower.firstName} {availabilityRequest.borrower.lastName}</td>
				</tr>
				<tr>
					<td>
						<f:translate
							key="LLL:EXT:cy_lending/Resources/Private/Language/locallang.xlf:message.observer.email.approver" />
						&nbsp;&nbsp;
					</td>
					<td>
						{availabilityRequest.approver.firstName} {availabilityRequest.approver.lastName}
					</td>
				</tr>
			</table>


		</f:section>
	</body>
</html>